* {
    box-sizing: border-box !important;
    transition: 0.2s;
}
:root {
    --dark-green: #139e94;
    --green-primary: #61bd6c;
    --green-primary-deep: #33823d;
    --green-primary-transparent: #61bd6c3d;
    --blue-primary: #00425a;
    --dark: #232d3f;
    --light-font-color: #666;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
