.add-category-button {
    background-color: var(--green-primary);
    padding: 10px 20px !important;
    border: 2px solid var(--green-primary);
}
.add-category-button:hover {
    border: 2px solid var(--green-primary);
}
