.add-category-form input[type="text"],
.add-category-form input[type="file"],
.add-category-form input[type="submit"],
.add-category-form textarea {
    width: 100%;
    outline: 1px solid #ddd;
}

.parent-category button {
    background-color: var(--green-primary);
    padding: 10px 20px !important;
    border: 2px solid var(--green-primary);
}

.parent-category li {
    min-width: 300px;
    text-align: left;
}

.add-category-btn {
    background-color: var(--green-primary);
    padding: 10px 20px !important;
    border: 2px solid var(--green-primary);
}
.add-category-btn:hover {
    border: 2px solid var(--green-primary);
}

.category-header {
    border: 1px solid #aaa;
}

.selected-category span {
    vertical-align: middle;
}
.selected-category p {
    background-color: var(--green-primary);
}

.category-details {
    border: 1px solid #aaa;
    height: 200px;
}

.category-list label {
    vertical-align: middle;
}
