.header-area {
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.search-box-container input {
    padding: 1px;
    vertical-align: middle;
    outline: none;
    border: 0;
}
.search-box-container label {
}

.custom-search-button {
    vertical-align: middle;
    padding: 3px 5px;
    font-weight: bold;
    font-size: 1.5rem;
}

.user-nav ul li i {
    vertical-align: middle;
    padding: 15px 17px;
    font-size: 1.4rem;
}
.user-nav ul {
    margin: 0 !important;
}

.user-nav ul li {
    position: relative;
}

.user-nav ul li .cart-update {
    /* background-color: var(--green-primary); */
    color: #ed3a3c;
    padding: 1px 8px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    left: 35px;
}

.cart-link {
    color: black;
}
.active a,
.nav-list-item:hover a {
    color: var(--green-primary);
}

.header-profile a:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--green-primary);
}

.logout-btn:hover {
    cursor: pointer;
    color: #ed3a3c;
}
