.header-area {
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.search-box-container input {
    padding: 1px;
    vertical-align: middle;
    outline: none;
    border: 0;
}
.search-box-container label {
}

.custom-search-button {
    vertical-align: middle;
    padding: 3px 5px;
    font-weight: bold;
    font-size: 1.5rem;
}

.user-nav ul li i {
    vertical-align: middle;
    padding: 15px 17px;
    font-size: 1.4rem;
}
.user-nav ul {
    margin: 0 !important;
}

.user-nav ul li {
    position: relative;
}

.user-nav ul li .cart-update {
    background-color: var(--green-primary);
    padding: 1px 6px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: -8px;
}

.cart-link {
    color: black;
}
.active a,
.nav-list-item:hover a {
    color: var(--green-primary);
}
