.product-box-header a {
    color: #828282;
}
.product-box-header a:hover {
    color: var(--green-primary);
}
.product-title a {
    font-size: 1.1rem;
}
.product-title a:hover {
    color: var(--green-primary);
}

.product-category {
    color: #6d6d6d;
    font-size: 14px;
}
.product-category a {
    color: #6d6d6d;
    font-size: 14px;
}
.image-container {
    width: 100%;
    height: 400px;
    max-width: 700px;
    display: flex;
    align-items: center;
    /* background-color: green; */
}
.small-single-product-inner-box .image-container {
    width: 50%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img {
    max-height: 100%;
}

.product-thumnail {
    position: relative;
    /* background-color: red; */
}

.small-single-product-inner-box {
    background-color: #fff;
}
.special-message {
    position: absolute;
    background-color: rgb(249, 216, 3);
    padding: 2px 12px;
    font-size: 0.75rem;
    top: 15px;
    left: 20px;
}
.base-price {
    color: var(--green-primary);
}
.fade-base-price {
    color: #aaa;
}

.quantity input {
    width: 50px;
    border-radius: 5px;
    border: 0;
    border: 1px solid #aaa;
}

.add-to-cart i {
    margin-left: 10px;
    border: 1px solid #ddd;
    font-size: 1.5rem;
    padding: 2px 6px;
    border-radius: 5px;
}
.add-to-cart i:hover {
    background-color: var(--green-primary);
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
.single-product-inner-box {
    background-color: #fff;
}
