.quantity input {
    width: 50px;
    border-radius: 5px;
    border: 0;
    padding: 5px 10px;
}
.quantity input:focus {
    outline: none;
}
.add-to-cart i {
    margin-left: 10px;
    border: 0;
    font-size: 14px;
    padding: 10px 11px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid var(--green-primary);
}
.add-to-cart i:hover {
    background: var(--green-primary);
    color: #fff;
}

.product-unit span {
    padding: 4px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fade-base-price {
    color: #aaa;
}
.discounted-price {
    color: var(--green-primary);
    font-weight: bold;
}
